<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="MsfConfig"
             type="Microsoft.SolverFoundation.Services.MsfConfigSection, Microsoft.Solver.Foundation, Version=2.0.2.8632, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             allowLocation="true"
             allowDefinition="Everywhere"
             allowExeDefinition="MachineToApplication"
             restartOnExternalChanges="true"
             requirePermission="true" />
  </configSections>


  <MsfConfig>
    <MsfPluginSolvers>
      <MsfPluginSolver name="CplexLP"
                       capability="LP"
                       assembly="CplexPlugIn.dll"
                       solverclass="SolverFoundation.Plugin.Cplex.CplexSolver"
                       directiveclass="SolverFoundation.Plugin.Cplex.CplexDirective"
                       parameterclass="SolverFoundation.Plugin.Cplex.CplexParams" />
      <MsfPluginSolver name="CplexMILP"
                       capability="MILP"
                       assembly="CplexPlugIn.dll"
                       solverclass="SolverFoundation.Plugin.Cplex.CplexSolver"
                       directiveclass="SolverFoundation.Plugin.Cplex.CplexDirective"
                       parameterclass="SolverFoundation.Plugin.Cplex.CplexParams" />
      <MsfPluginSolver name="CplexQP"
                       capability="QP"
                       assembly="CplexPlugIn.dll"
                       solverclass="SolverFoundation.Plugin.Cplex.CplexSolver"
                       directiveclass="SolverFoundation.Plugin.Cplex.CplexDirective"
                       parameterclass="SolverFoundation.Plugin.Cplex.CplexParams" />
    </MsfPluginSolvers>
  </MsfConfig>
</configuration>
